/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 May 2022, 11:27:38 AM
    Author     : lab_services_student
*/
body {background-color: #f0ffff}
footer {text-align: center}
p {font-family: Tahoma}
h1 {color: #000080}
h1 {font-family: Georgia}
h1 {text-align: center}
h2 {text-align: center}
h3 {text-align: center}
p {text-align: center}
